<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TechnicalTask.UI.Shell.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TechnicalTask.UI.Shell.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TechnicalTask.UI.Shell.Settings1>
            <setting name="MarkersSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SignalRConnection" serializeAs="String">
                <value>http://localhost:5034</value>
            </setting>
        </TechnicalTask.UI.Shell.Settings1>
    </applicationSettings>
    <userSettings>
        <TechnicalTask.UI.Shell.Settings1>
            <setting name="MarkerActiveColor" serializeAs="String">
                <value>#FF00AA</value>
            </setting>
            <setting name="MarkerLostColor" serializeAs="String">
                <value>#808080</value>
            </setting>
        </TechnicalTask.UI.Shell.Settings1>
    </userSettings>
</configuration>